
body {
    font-family: Verdana, Georgia, sans-serif;
    background-color: #9c9f84;
    margin: 0px;
    font-size: 14px;
     }
.data{max-width: 500px;
    margin: 2rem auto;
    border: 2px solid gold;
    padding: 2rem;
}
label{display: block;}
button{ color: #FAFAFA;
    padding: 9px 25px;
    background-color: #2549D3;
    border: none;
    border-bottom: 25px;
    line-height: 10px;}
p{
    font-size: 24px;
     padding: 10px;
     

}