
body {
    font-family: sans-serif;
    background-color: #9c9f84;
    margin: 0px;
    font-size: 14px;
     }
.data{max-width: 500px;
    margin: 2rem auto;
    border: 2px solid gold;
    padding: 2rem;
    border-radius: 5px;
}
label{display: block;
width: 100%;
padding: 1rem 0 .25rem;
text-transform: uppercase;
font-size: 14px;
border-radius: 5px;}
button{border: 0;
        background-color: purple;
        padding: 1rem;
        margin: 1rem;
        width: auto;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
}
p{
    font-size: 24px;
     padding: 10px; 
     font-weight: bolder;
     word-spacing: normal;
     page-break-inside: auto;   
}